
#rank {
    width: 100%;
}
#rank td,
#rank th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 15px;
}

#rank tr:nth-child(even) {
    background-color: #f2f2f2;
}

#rank tr:hover {
    background-color: #ddd;
}

#rank th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}